@import url(//fonts.googleapis.com/css?family=Montserrat:400:300:500:600);

html{
  font-family: 'Montserrat', sans-serif;
}

body {
  margin:0;
  min-height: 100%;
  min-width: 100%;
  overflow: auto;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
  letter-spacing: 2px;
  font-size:32px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}


.inner-header {
  height:20vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom-container{
  display:flex;
  align-items:center;
}

a{
text-decoration:none;
 margin: 0px 5px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:0px;
  font-size:14px;
  font-weight:600;
  color:limegreen;
  
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  text-align:center;
  background-color: rgb(255, 255, 255);
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .form{
    max-width:80vh;
  }
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    top:0;
    height:100vh;
 }
  h1 {
    font-size:24px;
  }
}
h2
{
  font-family: "Times New Roman", Times, serif;
  font-size:25px;
}

.msg{
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 20%);
  background-color: rgba(255, 0, 0, 0.247);
  color: #000000;
  
  font-size: 15px;
  border: 2px solid red;
  border-radius: 8px;
  padding: 5px;
  
  text-align:justify;
  font-weight: bold;
  display:none;
  }

form{
  display:flex;
  width:70vh;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  padding:10px;
  margin:5px;
}

.verification
{
  font-size:small;
}

input{
  width: 50%;
  padding:5px;
  margin:10px;
  height:30px;
  font-size:1rem;;
  border:none;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 20%);
  border-radius:25px;
  outline:none;
  text-align:center;
  
}

.signup-btn{
  font-size:1rem;
  border:none;
  height:44px;
  width:40%;
  margin:10px 10px;
  border-radius:25px;
  background-color:#A9A9A9;
  color:#ffffff
  
}

.tacbox {
  display:block;
  margin-top: 0;
  margin-bottom: 0.5%;
  border: 2px solid #ddd;
  background-color: #eee;
  max-width: 800px;
}

input[type=checkbox] {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

.social
{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1%;
}


.icon-link
{
  margin-left: 30px;
  margin-right: 10px;
  align-items:center;
}

.fa{
  color: #000000;
  line-height: 2em;
  font-size: 50px;
  cursor: pointer;
}