
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PowerPoint Files</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/files.css') }}">

  </head>

  <body>

    <div class="main">

        <ul>
            <li><a href="/sideNav">Home</a></li>
            <li><a class="active" href="/files">Power Point Files</a></li>
            <li><a href="/synopsisFiles">Synopsis Files</a></li>
            {% if 'admin' in flag %}
            <li><a href="/uploads">Upload Power Point</a></li>
            {% endif %}
            <li><a href="/settings">Settings</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>

        <div class="dashboard">
            <h3>Please, select one of the following available PowerPointFiles to view:</h3>
            <p>Hint: Go full screen ("f11") before choosing a presentation for the most accurate synopsis!</p>
            <div class="header">
                {% for file in files %}

                <li><a  href=/slides/{{file}}/{{file}}_0.html/start>{{file}}</a></li>

                {% endfor %}
            </div> 
        </div>

    </div>
    
    </body>
</html>

